<aside class="sidebar">
  <h1 class="sidebar-title">YAR'OG</h1>

  <nav>
    <%= link_to master_hero_templates_path, class: (current_page?(master_hero_templates_path) ? 'active' : '') do %>
      Hero Templates
    <% end %>

    <%= link_to master_heroes_path, class: (current_page?(master_heroes_path) || current_page?(master_root_path) ? 'active' : '') do %>
      Heroes
    <% end %>

    <%= link_to master_games_path, class: (current_page?(master_games_path) ? 'active' : '') do %>
      Games
    <% end %>
  </nav>
</aside>
